/*reset CSS*/
/**{
	margin:0;
	padding:0;
}*/
	
ul,ol{
	list-style:none;
}
	
/* table{
	border-spacing:0;
} */
	
a img, fieldset{
	border:none;
}

.clear{
	clear: both;
}

/*end reset*/

html{
	height: 100%;
}

body{
	font: 12px Arial, Helvetica, sans-serif;
	color: #666666;
	font-weight: normal;
	background: #4f4f4f url(../images/bg2.jpg);
	height: 100%;
}

p{
	padding-bottom: 12px;
}

a{
	color: #970000;
	font-weight: bold;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

.as-bg{
	background: url(../images/bg.jpg) no-repeat center top;
	background-attachment:fixed;
	min-height: 100%;
}

.as-wrap{
	width: 1034px;
	margin: 0 auto;
}

.as-logo-box{
	padding-top: 24px;
	padding-left: 35px;
	height: 64px;
}

.as-logo-box a{
	font-size: 48px;
	color: #000000;
}

.as-bg-top{
	background: url(../images/border-top.png) no-repeat;
	height: 9px;
}

.as-bg-bot{
	background: url(../images/border-bottom.png) no-repeat;
	height: 9px;
	padding-bottom: 24px;
}

/*menu*/

.as-menu-box{
	background: #ffffff;
	/* padding: 0 px; */
	
}

.as-menu{
	background: url(../images/menu_bg.jpg) no-repeat;
	width: 1055px;
	padding: 0 40px;
	height: 64px;
}

.as-menu li a{
	padding-top: 20px;
	padding-bottom: 20px;
	height: 44px;
	float: left;
	width: 20%;
	text-align: center;
	font-size: 30px;
	color: #ffffff;
}